* {
    margin: 0;
    padding: 0;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #f0e3ff;
    color: #3e206d;
    border-radius: 30px;e: 25px;
    padding: 5px;
}

.button:hover {
    background-color: #d9bcfb;
}

.textview {
    width: 208px;
    margin: 5px;
    padding: 5px;
    font-size: 25px;
    background-color: #f0e3ff;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #3e206d;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: linear-gradient(90deg, rgba(216,156,246,1) 0%, rgba(145,109,213,1) 100%);
}

html {
    background-color: #3e206d;
    height: 100%;
}